{% extends 'cms_base.html' %}
{% load static %}


{% block content %}

<h2>Admin</h2>
<p>Create or remove users to the admin area.</p>

<div class="line"></div>

<h2>Site Pages</h2>
<p>Edit specific sections of the website</p>

<div class="line"></div>

<h2>Blog</h2>
<p>Add, remove, or modify various blog componants. This includes articles, authors, and categories.</p>

<div class="line"></div>

<h3>Bible Studies</h3>
<p>Place holder. Yet to be implemented</p>

<div class="line"></div>

<h3>Discus</h3>
<p>External link to the discus admin portal. Use this to moderate comments</p>

{% endblock content %}