{% load static %}

<nav class="bg-secondary" id="sidebar">
    {% comment %}
    <div class="sidebar-header bg-light">
        <img src="{% static 'img/just_logo.jpg' %}" class="align-items-center img-fluid" alt="Responsive image"></img>
    </div>
    {% endcomment %}

    <ul class="list-unstyled components">
        <div class="container">
            <a href="{% url 'godmode' %}" class="align-items-center" style="font-size: larger;">Welcome
                {{ user.username }}!</a>
            <p></p>
        </div>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Create User</a>
                </li>
                <li>
                    <a href="#">Remove User</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Site Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Blog</a>
            <ul class="collapse list-unstyled" id="blogSubmenu">
                <li>
                    <a href="{% url 'articles' %}">Articles</a>
                </li>
                <li>
                    <a href="{% url 'authors' %}">Authors</a>
                </li>
                <li>
                    <a href="{% url 'categories' %}">Categories</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Bible Studies</a>
        </li>
        <li>
            <a href="https://disqus.com/admin/">Disqus</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="{% url 'password_change' %}" class="article">Change Password</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="download">Logout</a>
        </li>
    </ul>
</nav>