/* your styles go here */

body {
    min-height: calc(100vh - 424.5px);
}

.navbar-header .image {
    max-width: 40%;
   }

footer.main-footer {
    background-color: whitesmoke;
    padding-top: 50px;
}