{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Greetings Section-->
<section class="intro" style="background-color: rgb(65, 131, 123);">
    <div class="container" style="color: white;">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">Meaning!</h2>
                <p class="text-big" style="color: white;">
                    What do we mean by <strong>“Wellness”</strong> and <strong>“the Word”</strong>? The
                    <strong>“Wellness”</strong> component offers information of
                    interest in all areas of health for women (exercise and nutritional guidance, health and wellness
                    issues and even practical information on mental health). <strong>“The Word”</strong> is where we
                    study scripture,
                    offer information pertaining to Jesus Christ and engage in theological discussion. Our women
                    collaborators are professionals in their field. Our hope is that this becomes a practical resource
                    for all women for the mind, body and spirit in a way our Creator hopes for us.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Beliefs Section-->
<section class="intro" style="background-color: rgb(65, 131, 123); min-height: max-content;">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <p class="text-big" style="color: white;"><strong>We believe</strong> in the Christian worldview
                        that the Father, Son and Holy Spirit are the holy and
                        eternal Godhead and only through Jesus Christ are we redeemed by His blood shed on the Cross as
                        atonement for our sins. <strong>(Ephesians 1:7)</strong> We believe in His bodily Resurrection
                        after death
                        ensuring that we, through repentance and acceptance of Him, will also be resurrected into the
                        Kingdom of God. <strong>(John 11:25-26; Mark 16:6; Luke 24:6-7; 1 Peter 1:3)</strong></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="min-height: 217.583px;">
                    <p class="text-big" style="color: white;"><strong>We believe</strong> that when we truly repent of
                        our sins and invite Him into our lives, the Holy Spirit indwells us and guides us. <strong>(1
                            Cor 3:16,
                            6:19)</strong></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="min-height: 217.583px;">
                    <p class=" text-big" style="color: white;"><strong>We believe</strong> that the Holy Scriptures are
                        God-breathed and are true. <strong>(2 Timothy 3:16-17)</strong></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container" style="min-height: 217.583px;">
                    <p class="text-big" style="color: white;"><strong>We believe</strong> prayer is the number one
                        lifeline to our Holy God. <strong>(1 John 5:14)</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Profile Section-->
<section class="profile">
    <div class="container">
        <div class="container" style="margin-bottom: 5rem;">
            <h2 class="h3">A Little About Our Team</h2>
        </div>
        <div class="container" style="margin-bottom: 5rem;">
            <img src="{% static 'img/tonya.jpg' %}" alt="..." class="rounded-pill"
                style="width: 150px; display: block; margin-left: auto; margin-right: auto;">
            <h2 class="h3" style="color: rgb(120, 9, 6);">Tonya</h2>
            <p>Greetings! I hold a bachelor’s degree in Health Services and a master’s degree in
                Theological Studies as well
                as national fitness and health coach certifications. I have worked in the fitness industry for
                almost
                twenty
                years as a group fitness instructor, personal trainer, fitness specialist and coordinator of
                hospital-based
                special needs programming (bariatric, older populations, diabetes, cancer, stroke, etc.). My heart,
                though,
                is always for Jesus! My passion and ministry are to assist and guide women in their own healthy
                spiritual
                walk, physically and spiritually, which is the very reason Women, Wellness & the Word was born!</p>
        </div>
        <div class="container" style="margin-bottom: 5rem;">
            <img src="{% static 'img/misty.jpg' %}" alt="..." class="rounded-pill"
                style="width: 150px; display: block; margin-left: auto; margin-right: auto;">
            <h2 class="h3" style="color: rgb(120, 9, 6);">Misty</h2>
            <p>My name is Misty and I have been working in the insurance industry for 14 years. My passion is for all
                things artistic and I hold a degree is in Graphic Design. My husband is blessed to be a pastor and we
                have been married for 16 wonderful years. We have three beautiful children together, all in different
                phases of life; a teenager, a pre-teen and a toddler. They definitely keep us busy and on our toes. I
                came to faith and was baptized with my dad when I was young, after my parents’ divorce. I wandered from
                my faith in my teen years, but it was reignited with my husband as we discovered our faith again
                together. We believe that it is our honor, privilege, and responsibility to walk alongside the next
                generation as they discover who God is and what it means to have a genuine, authentic and real
                relationship with Him.</p>
        </div>
        <div class="container">
            <img src="{% static 'img/lynn.jpg' %}" alt="..." class="rounded-pill"
                style="width: 150px; display: block; margin-left: auto; margin-right: auto;">
            <h2 class="h3" style="color: rgb(120, 9, 6);">Lynn</h2>
            <p>Hi! My name is Lynn, I have been a nurse for thirty years working in nursing facilities, home health,
                case management and utilization management. I am a faithful believer in God and rely daily on Jesus and
                The Holy Spirit. I became a believer at 12 and was baptized. As I grew, I went on to live a worldly life
                but had always come back to Jesus. Through His miracles I am standing firmly on the Rock, ever building
                and seeking deeper understanding and relationship. Your sister in Christ, Lynn</p>
        </div>
    </div>
</section>

{% endblock content %}