{% load static %}


<footer class="main-footer">
    <div class="container" style="color: rgb(65, 131, 123);">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h6 style="color: rgb(65, 131, 123);">Women Wellness & The Word</h6>
                </div>
                <div class="contact-details">
                    <ul class="social-menu">
                        <li class="list-inline-item"><a
                                href="https://www.facebook.com/Women-Wellness-The-Word-108483710729546/"
                                target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="tonyalee@womenwellnessword.com"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="menus d-flex" style="color: black;">
                    <ul class="list-unstyled">
                        <li> <a href="#">Blog</a></li>
                        <li> <a href="#">About</a></li>
                        <li> <a href="#">Studies</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li> <a href=".header" class="continue link-scroll"><i class="fa fa-long-arrow-up"></i> Back to
                                top</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights" style="background-color: whitesmoke; margin-top: 0px;">
        <hr>
        <div class="container" style="padding-top: 20px">
            <div class="row" style="color: black;">
                <div class="col-md-6">
                    <p>&copy; 2020. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> by <a
                            href="https://www.linkedin.com/in/dspec12/">Daniel Spector</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>