{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Hero Section-->
<section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center 25%"
  class="hero">
  <div class="container">
    <div class="row">
      <div style="background: rgba(0, 0, 0, 0.5); border-radius: 25px" class="col-lg-7">
        <p style="font-family: 'Dancing Script', cursive; font-size: 38px;">“Be the woman who fixes another woman’s
          crown
          without
          telling the world that it was
          crooked.” -Author unknown</p>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Who we are</h2>
        <p class="text-big">Based upon our <strong>Christian faith</strong>, we love others and wish to obey Christ’s
          command to serve
          one another. (Mark 10:45; Galatians 5:13) <strong>Our mission</strong> is to gather <strong>women</strong>,
          learn, and speak the gospel into their lives but also offer much-needed practical support for the mind, body
          and spirit from a Christian perspective. If the Holy Spirit indwells our hearts, we are committed to treat the
          heart and body as His holy temple so that it is healthy and ready for His service. Our passion as women
          professionals is to offer the practical guidance necessary for improvement through love. We also hope to have
          loads of fun!</p>
      </div>
    </div>
  </div>
</section>
<!-- Featured-->
<section class="featured-posts no-padding-top">
  <div class="container">
    <header>
      <h2>Featured Article</h2>
    </header>
    <!-- Post-->
    {% for post in featured.all %}
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for cat in post.categories.all %}
                <a href="{% url 'category' cat.title %}">{{ cat }}</a>
                {% endfor %}
              </div>
              <a href="{{ post.get_absolute_url }}">
                <h2 class="h4">{{ post.title }}</h2>
              </a>
            </header>
            <p>{{ post.overview|linebreaks|truncatechars:200 }}</p>
            <footer class="post-footer d-flex align-items-center"><a href="{% url 'about' %}"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ post.author }}</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> {{ post.timestamp | date }}</div>
              <div class="comments"><i class="icon-comment"></i><span class="disqus-comment-count"
                  data-disqus-identifier="{{ post.slug }}"></span></div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="{{ post.thumbnail.url }}" alt="..."></div>
    </div>
    {% endfor %}
</section>
<!-- Divider Section-->
<section style="background-color:rgb(65, 131, 123) ; background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>We have a warm Facebook community. Please stop by and introduce yourself!</h2><a
          href="https://www.facebook.com/Women-Wellness-The-Word-108483710729546/" target="_blank"
          class="hero-link">Facebook</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the blog</h2>
    </header>
    <div class="row">
      {% for post in latest %}
      <div class="post col-md-4">
        <div class="post-thumbnail"
          style="background-image: url('{{ post.thumbnail.url }}'); background-size: cover; height: 20rem; width: auto;">
          <a href="{{ post.get_absolute_url }}"></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ post.timestamp | date }}</div>
            <div class="category">
              {% for cat in post.categories.all %}
              <a href="{% url 'category' cat.title %}">{{ cat }}</a>
              {% endfor %}
            </div>
          </div><a href="{{ post.get_absolute_url }}">
            <h3 class="h4">{{ post.title }}</h3>
          </a>
          <p class="text-muted">{{ post.overview|linebreaks|truncatechars:200 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Newsletter Section-->
{% comment %}
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">We'll never share your email address and you can opt out at any time.</p>
      </div>
      <div class="col-md-8">
        <div id="mc_embed_signup">
          <form
            action="https://womenwellnessword.us4.list-manage.com/subscribe/post?u=b3721557ff33309eda3180a95&amp;id=86b2a2afba"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_5ec5e56471acd52d1d72af56d_e46bd8a0c9" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}

{% endblock content %}