{% load static %}


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<script id="dsq-count-scr" src="//womenwellnessword-dev.disqus.com/count.js" async></script>
{% comment %}
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
{% endcomment %}
<style type="text/css">
    #mc_embed_signup form {
        text-align: left;
    }

    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 100%;
    }

    #mc_embed_signup input.email {
        border: 1px solid rgb(120, 9, 6);
        height: 45px;
    }

    #mc_embed_signup .button {
        background-color: rgb(120, 9, 6);
        height: 45px;
    }

    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
{% comment %}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script
    type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us4.list-manage.com", "uuid": "5ec5e56471acd52d1d72af56d", "lid": "e46bd8a0c9", "uniqueMethods": true }) })</script>
{% endcomment %}